a:hover{
    text-decoration: none;
}

.container{
    padding: 0;
}

.slogan{
    height: 400px;
}

/* banner */
section.banner {
    padding: 0px;
}
  
.banner {
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.11)),url(../imgs/bg_banner.jpg);
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .banner-caption {
    padding: 150px 0px;
}
  
.banner .banner-caption .line-dec {
    width: 80px;
    height: 3px;
    background-color: #ff8ee6;
} 

.banner .banner-caption h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 42px;
    letter-spacing: 0.5px;
    color: #fff;
}
  
.banner .banner-caption span {
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.5px;
}
  
.banner .banner-caption .blue-button {
    margin-top: 30px;
}
  
.banner .submit-form {
    border-bottom: 5px solid #ff8ee6;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px 5px 0 0;
}

#banner-h2,#banner-span{
    color: #323232;
}

.slogan-form{
    width: 100%;
}

#subform-span{
    color:#ff7575;
    transition-duration: .15s;
}

#subform-span:hover{
    color: #ff8ee6;
    transition-duration: .15s;
}

#search-name{
    width: 100%;
    text-align: left;
}

#form-submit{
    text-align: center;
}