*{
    font-family: 'Comfortaa',cursive;
    /* border: 1px solid red; */
}

body{
    background-color: rgb(50,50,50);
}

.navbar{
    border-bottom: 2px solid rgb(220,220,220);
}

.navbar-brand span{
    font-weight: 900;
    font-size:1.5rem;
}

.nav-link{
    font-weight: 300;
}

.nav-text{
    color: #fff;
    transition-duration: 0.3s;
}

.nav-drop-text{
    color: #fff;
}

.dropdown-item:hover .nav-drop-text{
    color: #000;
}

.nav-item{
    border-radius: 10px;
    transition-duration: 0.3s;
}

.nav-item:hover{
    background-color: #ff8ee6;
    transition-duration: 0.15s;
}

.nav-item:hover .nav-text{
    color: #000;
    transition-duration: 0.15s;
}

.dropdown .bg-dark{
    background-color: #3b434b !important;
}

