.col-3,.col-9{
    padding-left: 0;
    padding-right: 0;
}

#header {
    top: 0;
    left: 0;
    bottom: 0;
    /* width: 25vw; */
    transition: all ease-in-out 0.5s;
    z-index: 1;
    height: 100%;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
    box-shadow: 2px 0px 20px 1px #000;
  }
  
#header .profile #avatar {
    margin: 50px auto 30px auto;
    display: block;
    width: 180px;
    border: 3px solid #343a40;
    box-shadow: 0px 10px 20px -5px rgba(100, 100, 100, 0.5);
}
  
#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}
  
#header .profile h1 a, #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#social{
    width: 36px;
    height: 36px;
    margin: auto 2px;
    transition-duration: .15s;
    border-radius: 50%;
    margin-bottom: 20px;
}

.social-osu:hover{
    box-shadow: 0px 0px 5px 1px #ff8ee6;
    transition-duration: .15s;
}

.social-twitter:hover{
    box-shadow: 0px 0px 5px 1px #00acee;
    transition-duration: .15s;
}

.social-youtube:hover{
    box-shadow: 0px 0px 5px 1px #ff4444;
    transition-duration: .15s;
}

.social-twitch:hover{
    box-shadow: 0px 0px 5px 1px #6441a5;
    transition-duration: .15s;
}
  
#main {
    margin-left: 300px;
}

#profile-username{
    color: #fff;
}

hr{
    width: 100%;
    border:1px solid;
}

.stats{
    margin: 40px auto 0 auto;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 60%;
}

#player-stats{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

#ps1{
    color: #999999;
}

#country{
    width: 20%;
    margin: auto;
}

/* main */
/* public */
section{
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -10px #111;
    transition-duration: 1s;
}

section:hover{
    transform: scale(0.995);
    border-color: #ff8ee6;
    transition-duration: .15s;
    box-shadow: 0px 10px 5px -8px #000;
}

.secTitle{
    padding: 15px;
    background-color: #e8e8e8;
    border-radius: 10px 10px 0 0;
}

.secContain{
    padding: 15px;
    color: #e8e8e8;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
    #main {
        margin-left: 0;
    }
}